# Every minute
*/1 * * * * . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/updateRanking.js --language=en >> /var/log/cron.log 2>&1
*/1 * * * * . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/updateOverallRanking.js --language=en >> /var/log/cron.log 2>&1

*/1 * * * * . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/updateRanking.js --language=fr >> /var/log/cron.log 2>&1
*/1 * * * * . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/updateOverallRanking.js --language=fr >> /var/log/cron.log 2>&1

# Every hour
0 * * * * . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/incrementBalance.js >> /var/log/cron.log 2>&1

# Every Monday at 00:00
0 0 * * 1 . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/closeCurrentRanking.js --language=en >> /var/log/cron.log 2>&1
0 0 * * 1 . /root/env.sh; /usr/local/bin/node /var/app/app/jobs/closeCurrentRanking.js --language=fr >> /var/log/cron.log 2>&1
